body {
  margin: 0;
  text-align: center;
}
input {
  width: 25rem;
  height: 31px;
  border-radius: 10px;
  outline: none;
  border: none;
  flex: 1 0 140px;
}
.links > NavLink {
  display: flex;
  margin-left: 10px;
}

.links a {
  padding: 5px 20px;
  color: white;
}
.links a.active {
  font-weight: bold;
  border-radius: 15px;
  color: rgb(248, 244, 244);
  text-decoration: none;
  background: rgba(26, 22, 21, 0.589);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border: 1px solid black;
}

.box {
  /* display: grid;
grid-template-columns: repeat(2,1fr); */
  background: #4682b4;
  border: 1px sold red;
}
/* button {
  padding: 5px;
  cursor: pointer;
  transition: all ease 0.7s;
  &:hover {
    transform: scale(0.9);
  }
  &.delete {
    position: absolute;
    top: -1%;
    right: -1%;
  }
  color: antiquewhite;
  font-weight: bold;
  background: #107251;
} */
